################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Member.Models/bin/Debug/netcoreapp2.2
