@model MemberIM

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Edit an existing member.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" required placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" required placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" required placeholder="Email" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" required placeholder="phone" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-action="Index" class="btn btn-danger">Return</a>
        </form>
    </div>
</div>

